@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #bc4123;
  --secondary: #4b5b8f;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}
* {
  color: #fff;
  margin: 0;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* navbar */
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}
header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}
header nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  color: #fff5f5;
}
header nav a.active {
  background: var(--primary);
}

/* page content */
main {
  max-width: 1200px;
  margin: 40px auto;
}

/* help layout */
.help-layout nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}
.help-layout nav a{
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
}
.help-layout nav a:hover{
  border-color: var(--primary);
}
.help-layout nav a.active {
  background: var(--primary);
}

/* faq */
.faq .question {
  background: rgba(0,0,0,0.2);
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* contact form */
form {
  margin-top: 30px;
}
form input, form label span, form textarea {
  display: block;
}
form input, form textarea {
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  width: 300px;
  color: var(--secondary);
}
form label span {
  margin-bottom: 10px;
}

/* careers list */
.careers > a {
  display: block;
  background: rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
  text-decoration: none;
}
.careers > a:hover p {
  color: var(--primary);
}
.careers p {
  margin: 0;
}
.careers > a p:last-child {
 font-size: 0.8em;
 color: #bbb;
}

/* careers details */
.career-details {
  background: rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* breadcrumbs */
.breadcrumbs {
  max-width: 1200px;
  margin: 20px auto;
}
.breadcrumbs > *{
  display: inline-block;
  margin-right: 10px;
}
.breadcrumbs .crumb:after {
  content: '>';
  margin-left: 10px;
}
.breadcrumbs .crumb:last-child:after {
  display: none;
}
.breadcrumbs .crumb a {
  color: #ddd;
}

/* NotFound.css */
.not-found {
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
  color: #333;
}

/* Animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.not-found h2 {
  animation: bounce 2s infinite;
}

/* ContactList.css */

/* Center the table in the container */

/* Style the table */
table {
  width: 80%; /* Adjust the width as needed */
  border-collapse: collapse;
  margin: 20px auto; /* Center the table horizontally */
}

tr, th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

/* th {
  background-color: #f2f2f2;
} */

/* Style the buttons */
button {
  background-color: #bc4123;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #bc4123;
}

.comment-container {
  margin-bottom: 40px;
}

.comment {
  display: flex;
  align-items: flex-start;
}

.avatar {
  margin-left: 10px;
}

.avatar-image {
  width: 50px; /* Adjust the size as needed */
  height: 50px;
  border-radius: 50%;
}

.comment-content {
  flex-grow: 1;
}

.metadata {
  font-size: 12px;
  color: #666;
  margin-bottom: 5px;
}

.text {
  margin-bottom: 10px;
}

.like-button {
  background-color: #4CAF50;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.like-button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

.hours-container,
.minutes-container,
.seconds-container {
  text-align: center;
  margin: 0 10px;
}

.hours,
.minutes,
.seconds {
  font-size: 2em;
  font-weight: bold;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 60px;
  transition: all 0.5s ease-in-out; /* Menambahkan transisi untuk efek yang lebih halus */
}

.seconds {
  animation: moveSeconds 60s linear infinite; /* Animasi detik maju setiap 60 detik */
}

@keyframes moveSeconds {
  to {
    transform: rotate(360deg);
  }
}

div h1,
div h2 {
  text-align: center;
  color: #e40000;
}
